h1 {
    font-family: 'Alfa Slab One', cursive;
    padding-top: 10px; 
    color: #6D6E71; 
    font-size: 75px
}

.btn {
     background-color: #876a8b; 
     color: whitesmoke
}

.post-btn {
    margin-bottom: 10px; 
    width: 50px; 
}

hr {
    color: 1px #6D6E71;
}

.header {
    background-color: #8b896a; 
    color: whitesmoke;
    font-family: 'Rasa', serif;
    font-weight: bolder; 
    font-size: x-large
}

a {
    color:  #876a8b; 
    font-weight: bolder; 
    font-size: xx-large; 
    font-family: 'Rasa', serif;
}

p {
 color: #6D6E71; 
 font-weight: bold;
 font-family: 'Rasa', serif;
 font-size: larger
}